local config = {
    server = "irc.twitch.tv",
    port = 6667,
    username = "%USERNAME%",
    token = "%TOKEN%",
    channel = "#%CHANNEL%",

    show_messages = true, -- if true, this will show chat messages in the console
    show_join_leave = true, -- if true, this will show join/leave messages in the console

    unknown_command = true, -- if true, this will respond to unknown commands with a message in chat.
                            -- disable this option if you use other bots with commands not registered to
                            -- xtlbot.

    -- DEBUG/SETUP STUFF
    sudo = nil, -- makes this user have the admin role (this is NOT stored in the database)
                -- DO NOT USE SUDO UNLESS YOU KNOW WHAT YOU ARE DOING

    debug_protocol = false, -- shows all messages sent/received through irc
    debug = false -- display debug messages in console
}

return config