local config = {
    server = "irc.twitch.tv",
    port = 6667,
    username = "%USERNAME%",
    token = "%TOKEN%",
    channel = "#%CHANNEL%",
    show_messages = true,
    show_join_leave = false,

    -- DEBUG/SETUP STUFF
    sudo = nil, -- makes this user have the admin role (this is NOT stored in the database)
    debug_protocol = false, -- shows all messages sent/received through irc
    debug = false -- display debug messages in console
}

return config