-- Copy this file to config.lua and edit

local config = {
    server = "irc.twitch.tv",
    port = 6667,
    username = "REPLACE ME",
    token = "REPLACE ME",
    channel = "#REPLACE_ME",
    show_messages = true,
    show_join_leave = false,

    -- DEBUG/SETUP STUFF
    sudo = "REPLACE ME", -- makes this user have all permissions (this is NOT stored in the database)
    debug_protocol = false, -- shows all messages sent/received through irc
    debug = true -- display debug messages in console
}

return config